.pers-info,
.registration,
.user-info,
.additional-info {
  margin-bottom: 20px;
}

.input-name,
.input-surname,
.input-age,
.input-birth,
.input-agreement,
.input-email,
.input-password,
.input-cats,
.input-color,
.input-sleep-time,
.input-cars,
.input-rate,
.input-comments,
.input-recommendation {
  margin-bottom: 10px;
}

.input-end {
  margin-bottom: 0;
}
